h1 {}

h2 {}

h3 {}

h4 {}

p {}


/* @-webkit-keyframes MOVE-BG {
    from {
        left: 0;
    }
    to {
        left: -2000px;
    }
}

#wrapper {
    position: relative;
    width: 800px;
    height: 300px;
    overflow: hidden;
}

#page {
    text-align: center;
    font-size: 26px;
    color: #000;
}

#content {
    width: 2000px;
    height: 1000px;
    background: url(http://www.gstatic.com/webp/gallery/1.jpg) 0% 0% repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 100s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
} */

body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    background: url("layers/layer1.png") center center / cover no-repeat, url("layers/layer2.png") center center / auto no-repeat no-repeat, url("layers/layer3.png") center center / auto no-repeat no-repeat, url("layers/layer4.png") center center / auto no-repeat;
    background-blend-mode: overlay;
    position: relative;
}

.object1 {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 100;
    right: 10;
    background-image: url("objects/object1.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 50%;
    background-blend-mode: luminosity;
}

.object2 {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 56%;
    left: 50%;
    background-image: url("objects/object2.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 50%;
    background-blend-mode: luminosity;
}

.object3 {
    position: absolute;
    width: 300px;
    height: 400px;
    bottom: 35%;
    right: 45%;
    background-image: url("objects/object3.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 50%;
    background-blend-mode: luminosity;
}

.object4 {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 70%;
    left: 15%;
    background-image: url("objects/object4.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 50%;
    background-blend-mode: luminosity;
}