#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background */
}

[class^='bg-'] {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-blend-mode: overlay;
}

.bg-1 {
    background-image: url('images/layers/layer1.png');
}

.bg-2 {
    background-image: url('images/layers/layer2.png');
}

.logo {}

.heading {
    margin-top: auto;
}

[class^='object-'] {
    position: absolute;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: contain;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    animation-direction: alternate;
    background-size: contain;
}

.object-1 {
    top: 100;
    right: 40;
    width: 25%;
    height: 44%;
    background-image: url('images/objects/object1.png');
    background-blend-mode: luminosity;
    animation-name: object1;
}

@keyframes object1 {
    0% {
        bottom: 20%;
        right: 10%;
    }
    25% {
        right: 20%;
    }
    50% {
        right: 30%;
    }
    75% {
        left: 40%;
    }
    100% {
        left: 50%;
    }
}

.object-2 {
    top: 56%;
    left: 50%;
    width: 30%;
    height: 30%;
    background-image: url('images/objects/object2.png');
    animation-name: object2;
    animation-duration: 20s;
}

@keyframes object2 {
    0% {
        bottom: 10%;
        right: 45%;
    }
    25% {
        right: 30%;
    }
    50% {
        right: 40%;
    }
    75% {
        left: 60%;
    }
    100% {
        left: 200%;
    }
}

.object-3 {
    position: absolute;
    width: 20%;
    height: 24%;
    background-image: url('images/objects/object3.png');
    animation-name: object3;
    animation-duration: 20s;
}

@keyframes object3 {
    0% {
        bottom: 10%;
        right: 45%;
    }
    25% {
        bottom: 20%;
        right: 50%;
    }
    50% {
        bottom: 30%;
        right: 70%;
    }
    75% {
        bottom: 50%;
        left: 80%;
    }
    100% {
        left: 90%;
    }
}

.object-4 {
    width: 22%;
    height: 30%;
    top: 70%;
    left: 15%;
    background-image: url('images/objects/object4.png');
    animation-name: object4;
    animation-duration: 20s;
}

@keyframes object4 {
    0% {
        bottom: 10%;
        right: 45%;
    }
    25% {
        bottom: 20%;
        right: 50%;
    }
    50% {
        bottom: 30%;
        right: 70%;
    }
    75% {
        bottom: 50%;
        left: 80%;
    }
    100% {
        left: 100%;
    }
}

.object-5 {
    width: 37%;
    height: 31%;
    top: 70%;
    left: 15%;
    background-image: url('images/objects/object5.png');
    animation-name: object5;
    animation-duration: 20s;
}

@keyframes object5 {
    0% {
        bottom: 15%;
        right: 40%;
    }
    25% {
        bottom: 15%;
        right: 40%;
    }
    50% {
        bottom: 20%;
        right: 60%;
    }
    75% {
        bottom: 40%;
        left: 70%;
    }
    100% {
        left: 90%;
    }
}

.object-6 {
    width: 41%;
    height: 23%;
    top: 20%;
    left: 40%;
    background-image: url('images/objects/object6.png');
    animation-name: object6;
    animation-duration: 20s;
}

@keyframes object5 {
    0% {
        bottom: 13%;
        right: 34%;
    }
    25% {
        bottom: 21%;
        right: 56%;
    }
    50% {
        bottom: 20%;
        right: 38%;
    }
    75% {
        bottom: 40%;
        left: 30%;
    }
    100% {
        left: 90%;
    }
}